<mapper namespace="io.matt.dao.IUserDao">

    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="findAll" resultType="io.matt.pojo.User" >
        select * from user
    </select>


    <!--
        User user = new User()
        user.setId(1);
        user.setUsername("zhangsan")
    -->
    <select id="findByCondition"  resultType="io.matt.pojo.User" parameterType="io.matt.pojo.User">
        select * from user where id = #{id} and userName = #{userName}
    </select>


</mapper>